{% load l10n %}

<div class="relative">
    <select class="bg-white focus:outline-none border {% if field.errors %}border-red-500 {% else %}border-gray-300 {% endif %}rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700"
            name="{{ field.html_name }}"
            id="{{ field.auto_id }}"
            {% if field.field.widget.allow_multiple_selected %}multiple{% endif %}
            {% if field.field.disabled %}disabled{% endif %}>
        {% for choice_value, choice_label in field.field.choices %}
            <option value="{{ choice_value|stringformat:'s'|unlocalize }}"
                    {% if choice_value in field.value or choice_value|stringformat:'s' in field.value %}selected{% endif %}>
                {{ choice_label }}
            </option>
        {% endfor %}
    </select>
    {% if not field.field.widget.allow_multiple_selected %}
    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
    </div>
    {% endif %}
</div>
