#datatable-orders_wrapper{
    width:98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dataTable{
    font-size: 12px;
    width:100%;
    min-width: 400px;
    overflow: hidden;
    border-radius: 7px 7px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.dataTable th {
    background-color: #2D323E;
    color: white;
    font-weight: bold;
  }

.dataTable td, .dataTable th {
    border: 0.01em solid #e3e2e2;
  }
  
.dataTable tr:nth-child(even){background-color: #f9f8f8;}

/* Formats the text*/ 
#datatable-orders_filter,
#datatable-orders_length,
#datatable-orders_info,
#datatable-orders_paginate{
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

/* Formats the input fields*/ 
#datatable-orders_filter input,
#datatable-orders_length select{
    border: 1px solid rgb(3, 154, 204);
}


.pageholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.titleholder,
.linkholder{
    display: flex;
    margin-top: 10px;
    width: 98%;
    border-radius: 5px;
}
.ourbutton{
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    
    background-color: rgb(0, 0, 80);
    color: white
}

.ourbutton:hover{
    margin-right: 10px;
    background-color: rgb(142, 142, 142);
    color: white
}

.titleholder{
    display: 'flex';
    justify-content:'space-between';
    background-color: #4267B2;
    align-items: center;
    height: 40px;
}

.linkholder{
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
    justify-content: space-around;
}

.title{
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linkbox{
    display: flex;
    width:20%;
    height: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);


}

div.dateControlBlock {
    display: block;
    float:right;
}