{% load static auth_tags tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% block title %}{% endblock title %}</title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<script src="https://kit.fontawesome.com/23664e4bd4.js" crossorigin="anonymous"></script>

	<link rel="preconnect" href="https://fonts.gstatic.com">

	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap" rel="stylesheet">

	{% block extra_head %}{% endblock %}
	{% tailwind_css %}
</head>

<body class="bg-grey-lightest font-sans leading-normal tracking-normal">

	<nav class="flex flex-wrap items-center justify-between p-5 bg-white border-b-2 border-red">
		<img src="{% static 'images/vfll_logo_rot_Bild.svg' %}" class="object-contain h-24 object-left">
		<!-- logo -->
		<!-- togglr button hamburger -->
		<div class="flex md:hidden">
			<button id="hamburger">
				<img class="toggle block" src="https://img.icons8.com/fluent-systems-regular/2x/menu-squared-2.png" width="40" height="40" />
				<img class="toggle hidden" src="https://img.icons8.com/fluent-systems-regular/2x/close-window.png" width="40" height="40" />
			</button>
		</div>

		<!-- links -->
		<div class="toggle hidden md:flex w-full md:w-auto text-right text-bold mt-5 md:mt-0 border-t-2 border-blue-900 md:border-none">

			<a href="{% url 'home' %}" class="block md:inline-block text-red font-bold hover:text-gray-400 px-3 py-3 border-b-2 border-blue-900 md:border-none">VFLL
				Veranstaltungen</a>

			<a href="{% url 'event-list' %}" class="block md:inline-block text-red hover:text-gray-400 px-3 py-3 border-b-2 border-blue-900 md:border-none">Alle
				Veranstaltungen</a>
			<div class="block md:inline-block text-red hover:text-gray-400 px-3 py-3 border-b-2 border-blue-900 md:border-none">
				<button style="transition:all .15s ease" type="button" onclick="openDropdown(event,'dropdown-id')">
					Veranstaltungen nach Kategorien
				</button>
				<div class="hidden bg-white  text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width:12rem" id="dropdown-id">
					{% for c in all_categories %}
					<a href="{% url 'event-filter' %}?category={{ c.id }}" class="text-sm py-2 px-4 font-normal block w-full whitespace-no-wrap bg-transparent text-gray-800">
						{{ c.title }}
					</a>
					{% endfor %}

				</div>
			</div>


		</div>
		{% block searchfield %}{% endblock %}

		<!-- login / logout -->

		<div class="toggle hidden md:flex w-full md:w-auto text-right text-bold mt-5 md:mt-0 border-t-2 border-blue-900 md:border-none">
			{% if user.is_authenticated %}
			<a class='px-3 py-3' href="{% url 'event-list-internal' %}">E</a>
			{% if user|has_group:"mv_orga" %}
				<a class='px-3 py-3' href="{% url 'ft-members-dashboard' %}">TN</a>
			{% endif %}
			<a href="{% url 'logout' %}" class="block md:inline-block text-red  hover:text-gray-400 px-3 py-3 border-b-2 border-blue-900 md:border-none">
				Logout</a>
			{% else %}
			<a href="{% url 'login' %}" class="block md:inline-block text-red  hover:text-gray-400 px-3 py-3 border-b-2 border-blue-900 md:border-none">
				Login</a>
			{% endif %}
			{% if user.is_superuser %}

			<a class="block md:inline-block  text-red  hover:text-gray-400 px-3 py-3 border-b-2 border-blue-900 md:border-none" href="{% url 'admin:index' %}">
				<img src="{% static 'images/cogwheel.svg' %}" class="mt-1 w-4 align-bottom">
			</a>
			{% endif %}
		</div>

		<!-- cta -->
	</nav>

	<!-- Messages-->





	{% if messages %}
	{% for message in messages %}
	<!-- simple message -->
	{% comment %}
	{% include 'messages/simple_messages.html' %}
	{% endcomment %}
	<!-- modal message -->
	{% include 'messages/modal_messages.html' %}

	{% endfor %}
	{% endif %}




	<!-- Main -->

	{% block content %}
	{% endblock %}

	{% include 'base/js.html' %}
	{% block extrascript %}

	{% endblock extrascript %}


</body>

</html>