{% extends 'base/base.html' %}

{% load thumbnail embed_video_tags %}




{% block title %}Veranstaltung Details{% endblock title %}
{% block breadcrumb %}Veranstaltung Detail{% endblock breadcrumb %}

{% block searchfield %}
<div class="toggle hidden md:flex w-full md:w-auto">
    <form action="{% url 'search-event' %}" method="POST">
        {% csrf_token %}
        <div class="pt-2 relative mx-auto text-gray-600">
            <input class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none" type="search" name="search" placeholder="Suche">
            <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve" width="512px" height="512px">
                    <path d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                </svg>
            </button>
        </div>
    </form>
</div>
{% endblock searchfield %}

{% block content %}



<section class="text-gray-600 body-font">
    <div class="container px-5 py-12 mx-auto flex flex-wrap">
        <div class="flex relative flex-col  md:w-2/3 pt-4 pb-4 mx-auto">
            <div class="flex">
                <span class="text-left font-bold text-vfllred text-xl mr-4">{% if event.category.singular %}
                    {{ event.category.singular }}{% else %}{{ event.category }}{% endif %}</span>
                <span class="text-left font-bold text-vfllred text-xl">|</span>
                <span class="text-left font-bold text-vfllred text-xl ml-4">{{ event.eventformat }}</span>
            </div>
            <div class="flex">
                <span class="text-left text-xl">

                    {% with event.event_days.all|first as first %}
                    {{ first.start_date|date:"l, j. F Y"}}{% if event.event_days.all|length > 1 %}&ndash;{{ event.get_last_day.start_date|date:"l, j. F Y" }}
                    {% endif %}
                    {% endwith %}

                </span>
            </div>

            <div class="flex py-2">
                <span class="text-left font-bold text-3xl">{{ event.name }}</span>
            </div>
            {% comment %}
            <div class="flex py-2">
                <!-- Hinweis Restplätze ausgebucht -->
                {% if event.is_full or event.few_remaining_places %}

                {% if event.is_full %}
                <div class="text-xl text-left text-vfllred italic font-bold pt-1">
                    Leider ausgebucht!
                </div>
                {% else %}
                <div class="text-xl text-left text-vfllred italic font-bold pt-1">Nur noch wenige Restplätze!</div>
                {% endif %}

                {% endif %}
                <!-- Ende Hinweis-->

            </div>
            {% endcomment %}
        </div>
        <div class="flex w-full flex-col relative">

            <!-- Termin -->

            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Termine</h2>
                        <div class="flex w-1/2 flex-wrap">
                            {% for day in event.event_days.all %}
                            <div class="w-1/2">{{ day.start_date|date:"D, j. F Y"}}</div>
                            <div class="w-1/2">
                                {% if day.start_time %}
                                {{day.start_time|date:"H:i"}}&ndash;{{day.end_time|date:"H:i"}}
                                {% else %}
                                &nbsp;
                                {% endif %}
                            </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ende Termin -->

            <!-- Dauer -->
            {% if event.duration %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-clock"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Dauer</h2>
                        <p class="leading-relaxed">

                            {{ event.duration }}


                        </p>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Ende Dauer-->

            <!-- Event URL -->
            {% if event.eventurl %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">

                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fa fa-link" aria-hidden="true"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Webseite</h2>

                        <p class="text-left "><a href="{{ event.eventurl }}">Link zur Veranstaltung</a></p>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Location -->
            {% if event.category.name != "Onlineseminare" and event.location %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">

                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-globe"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Ort</h2>
                        <p class="text-left ">{{ event.location.title }}</p>
                        <p class="text-left ">{{ event.location.get_complete_address|linebreaksbr }}</p>
                        {% if event.location.url %}
                        <p><a href="{{ event.location.url }}">Webseite</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Ende Location -->

            <!-- Veranstalter (Organizer) -->
            {% if event.organizer %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">

                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-arrow-alt-circle-right"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Veranstalter</h2>
                        <p class="text-left ">{{ event.organizer.name }}</p>
                        {% if event.organizer.contact %}
                        <p class="text-left ">{{ event.organizer.contact }}</p>
                        {% endif %}
                        {% if event.organizer.url %}
                        <p class="text-left "><a href="{{ event.organizer.url }}">Website</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Ende Veranstalter (Organizer) -->
            <!-- Dozent -->

            {% if event.speaker.all %}

            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Dozent*in{% if event.speaker.all|length > 1 %}nen{% endif %}</h2>
                        <p class="leading-relaxed">
                            {% for speaker in event.speaker.all %}
                            {% if speaker.email or speaker.url or speaker.bio %}
                            <button class="hover:text-vfllred inline-block" onclick="toggleModal('modal-id-{{forloop.counter}}')">
                                {{speaker.full_name}}{% if not forloop.last %}, {% endif %}
                            </button>
                            {% else %}
                            <span class="">
                                {{speaker.full_name}}{% if not forloop.last %}, {% endif %}
                            </span>
                            {% endif %}
                            {% endfor %}
                            {% for speaker in event.speaker.all %}
                            <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="modal-id-{{forloop.counter}}">
                                <div class="relative w-auto my-6 mx-auto max-w-3xl">
                                    <!--content-->
                                    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
                                        <!--header-->
                                        <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                                            <h3 class="text-3xl font-semibold">
                                                {{ speaker.full_name }}
                                            </h3>
                                            <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" onclick="toggleModal('modal-id')">
                                                <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                                                    ×
                                                </span>
                                            </button>
                                        </div>
                                        <!--body-->
                                        <div class="relative p-6 flex-auto">
                                            {% if speaker.image %}
                                            <div class="absolute top-0 right-0">
                                                <img src="{{speaker.image.url}}" class="rounded-full w-28 h-28 object-cover border-solid border-gray-500 border-2 ml-4 mr-4 -mt-14">
                                            </div>
                                            {% endif %}
                                            <p>
                                                {% if speaker.email %}
                                                <span>{{ speaker.email }}</span>
                                                {% endif %}
                                                {% if speaker.url %}
                                                <span>{% if speaker.email %} | {% endif %}<a href="{{ speaker.url }}">
                                                        {{ speaker.url }}</a></span>
                                                {% endif %}
                                                {% if speaker.bio %}
                                                <p class="my-4 text-blueGray-500 text-lg leading-relaxed">
                                                    {{ speaker.bio }}
                                                </p>
                                                {% endif %}
                                        </div>
                                        <!--footer-->
                                        <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
                                            <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" onclick="toggleModal('modal-id-{{forloop.counter}}')">
                                                Schließen
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="modal-id-backdrop"></div>

                            {% endfor %}
                        </p>
                        <p class="text-sm">(Namen anklicken für mehr Infos)</p>
                    </div>
                </div>
            </div>

            {% endif %}

            <!-- Ende Dozent -->


            <!-- Zielgruppe -->
            {% if event.target_group %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-users"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Für wen?</h2>
                        <p class="leading-relaxed">

                            {{ event.target_group }}

                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Ende Zielgruppe -->

            <!-- Verpflegung -->
            {% if event.catering %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-utensils"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Verpflegung</h2>
                        <p class="leading-relaxed">
                            {{ event.catering|safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Ende Verpflegung -->

            <!-- Übernachtung -->
            {% if event.lodging %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-bed"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Übernachtung</h2>
                        <p class="leading-relaxed">
                            {{ event.lodging|safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Ende Übernachtung -->

            <!-- Kosten -->
            {% if event.fees %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-euro-sign"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Teilnahmegebühren</h2>
                        <p class="leading-relaxed">
                            {{ event.fees|safe }}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}

            <!-- Ende Kosten -->

            <!-- Kontakt , mehr Infos -->
            {% if event.sponsors.all %}
            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-info"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-gray-900 mb-1 text-xl">Weitere Infos</h2>
                        <p class="leading-relaxed">
                            {% for sponsor in event.sorted_sponsors %}
                            {% spaceless %}
                            {{ sponsor.first_name }}&nbsp;{{ sponsor.last_name }}{% if sponsor.email %},&nbsp;
                            {{ sponsor.email }}{% endif %}{% if sponsor.phone %},&nbsp;
                            {{ sponsor.phone }}
                            {% endif %}
                            {% if not forloop.last %}
                            <br />
                            {% endif %}
                            {% endspaceless %}
                            {% endfor %}
                        </p>

                    </div>
                </div>
            </div>

            {% endif %}
            <!-- Ende Kontakt , mehr Infos -->

            <!-- Anmeldung -->

            {% if not event.is_past and event.category.name != "vfll_intern" and event.category.name != "messen" %}

            <div class="flex relative pb-8 sm:items-center md:w-2/3 mx-auto">


                <div class="flex-grow flex sm:items-center items-start flex-col sm:flex-row">


                    <div class="h-full w-16 absolute inset-0 flex items-center justify-center">
                        <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                    </div>
                    <div class="flex-shrink-0 w-16 h-16 bg-red-100 text-red-500 rounded-full inline-flex items-center justify-center z-10">
                        <span class="text-3xl"><i class="fas fa-calendar-plus"></i></span>
                    </div>
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class="font-medium title-font text-vfllred mb-1 text-xl">Anmeldung</h2>
                        <div class="flex mx-auto">
                            <div class="leading-relaxed">

                                {% if event.close_date %}
                                <p class="font-semibold mr-2">Anmeldeschluss: {{event.close_date|date:"j. F Y"}}</p>
                                {% endif %}

                                {# special #}
                                {% if event.label == 'ffl_mv_2022' %}
                                <p class="font-semibold mr-2">für MV noch möglich</p>

                                {% endif %}


                                {% if event.is_full %}
                                <span class="text-vfllred italic mr-2">Leider ausgebucht!</span>
                                {% else %}
                                {% if event.few_remaining_places %}
                                <span class="text-vfllred italic mr-2">Nur noch wenige Restplätze!</span>
                                {% endif %}

                                {% if event.category.name == 'Fortbildungen unserer Kooperationspartner*innen' %}
                                {% if event.registration %}

                                {{ event.registration|safe }}
                                {% endif %}

                                {% endif %}
                                {% endif %}
                            </div>
                            {% if event.category.name != 'Fortbildungen unserer Kooperationspartner*innen' and event.registration_possible %}

                            <div class="item">
                                <div class="">
                                    <a class=' bg-gray-200 font-bold  text-vfllred px-2 ' href="{% url 'event-add-member' event.slug %}">
                                        {% if not event.is_full %}Online anmelden{% else %}Auf die Warteliste{% endif %}
                                    </a>
                                </div>
                            </div>



                            {% endif %}
                        </div>
                    </div>



                </div>
            </div>

            {% endif %}

            <!-- Ende Anmeldung -->


            <!-- Beschreibung -->

            <div class="pt-8 flex-col w-2/3 mx-auto">{{ event.description|safe }}</div>
            <!-- Ende Beschreibung -->

            <!-- Voraussetzungen -->
            {% if event.prerequisites %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">Vorkenntnisse</span></div>

                <div class="pt-1">{{ event.prerequisites|safe }}</div>

            </div>
            {% endif %}
            <!-- Ende Voraussetzungen -->

            <!-- Lernziele -->
            {% if event.objectives %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">Lernziele</span></div>

                <div class="pt-1">{{ event.objectives|safe }}</div>

            </div>
            {% endif %}

            <!-- Ende Lernziele -->

            <!-- Methoden -->
            {% if event.methods %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">Methoden</span></div>

                <div class="pt-1">{{ event.methods|safe }}</div>

            </div>
            {% endif %}

            <!-- Ende Methoden -->

            <!-- Beteiligung des VFLL -->
            {% if event.contribution and event.category.name == "vfll_intern" %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">VFLL-Beteiligung</span></div>

                <div class="pt-1">{{ event.contribution }}</div>

            </div>
            {% endif %}

            <!-- Ende Beteiligung des VFLL -->


            <!-- Hinweise -->
            {% if event.notes %}

            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">Hinweise</span></div>

                <div class="pt-1">{{ event.notes|safe }}</div>

            </div>
            {% endif %}
            <!-- Ende Hinweise -->

            <!-- Sponsoren -->
            {% if event.externalsponsors.all %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">Sponsoren</span></div>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                    {% for externalsponsor in event.externalsponsors.all %}

                    <a href='{{ externalsponsor.url }}'><img alt='' class='w-64  block mx-auto' src='{{ externalsponsor.image.url }}'></a>

                    {% comment %}
                    <div class="max-w-md px-4">
                        <div class='relative m-0 shadow-lg flex bg-white'>
                            <div class='flex-no-shrink'>
                                <img alt='' class='w-48 h-48 block mx-auto' src='{{ externalsponsor.image.url }}'>
                            </div>
                            <div class='flex-1 card-block relative'>
                                <div class="p-6">
                                    <h4 class='font-medium text-2xl mb-3'>{{ externalsponsor.name }}</h4>
                                    <p class='leading-normal'>{{ externalsponsor.text }}</p>
                                    {% if externalsponsor.url %}
                                    <p class="text-sm text-grey block mt-6"><a href='{{ externalsponsor.url }}'>Webseite</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}

                    {% endfor %}
                </div>
            </div>

            {% endif %}
            <!-- Ende Sponsoren -->

            <!-- download pdf -->
            {% if event.pdf_file %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-gray-900 text-xl">Programm</span></div>
                {% comment %}
                <div class="pt-1"><a href="{{ event.pdf_file.url }}" download="{{ event.pdf_file.url }}"><span class="text-vfllred">Hier</span></a> gibt es das ausführliche Programm zum Download.</div>
                {% endcomment %}
                <div class="pt-1"><a href="{% url 'pdf-download' event.slug %}"><span class="text-vfllred">Hier</span></a> gibt es das ausführliche Programm zum Download.</div>

            </div>
            {% endif %}

            <!-- Programm -->
            {% if event.agendas.all %}
            <div class="pt-4 flex-col md:w-2/3 mx-auto">
                <div class="pt-2"><span class="font-bold text-vfllred text-2xl">Programm</span></div>
                {% for agenda in event.agendas.all %}
                <div class="pt-2"><span class="text-sm font-semibold">{{agenda.session_name}}</span>
                    {% if agenda.start_time %}
                    <span class="text-sm font-light">({{agenda.start_time|date:"H:i"}}
                        {% if agenda.end_time %}&ndash;{{agenda.end_time|date:"H:i"}}{% endif %})</span>
                    {% endif %}
                </div>
                <div class="pt-1">{{ agenda.description|safe }}</div>
                {% endfor %}
            </div>
            {% endif %}
            <!-- Ende Programm -->
            <!-- Video -->
            {% if event.video and event.show_video %}
            {% video event.video as my_video %}
            <div class="absolute top-0 right-4 w-2/5 ">
                <div class="aspect-w-16 aspect-h-9">
                    <iframe src="{{ my_video.url }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            {% endvideo %}
            {% endif %}

        </div>

    </div>
    </div>
</section>




{% endblock content %}

{% block extrascript %}
<script type="text/javascript">
    function toggleModal(modalID) {
        document.getElementById(modalID).classList.toggle("hidden");
        document.getElementById(modalID + "-backdrop").classList.toggle("hidden");
        document.getElementById(modalID).classList.toggle("flex");
        document.getElementById(modalID + "-backdrop").classList.toggle("flex");
    }
</script>
{% endblock extrascript %}