{% extends 'base/base.html' %}

{% load tz %}

{% block content %}
{% with event_label='ffl_mv_2026' %}

<div class="max-w-2xl mx-auto py-8">
  <h3 class="font-bold">Fachtagung 2026 mit MV (Ludwigshafen)</h3>
  <p class="my-4"><a href="{% url 'ft-members' event_label %}" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">Übersicht Teilnehmer</a></p>
  <p>{{ count_members_of_mv }} Anmeldungen {% timezone "Europe/Berlin" %}(Stand {% now "j. F Y H:i" %}) {% endtimezone %}</p>
  <p class="my-4"><b>Übersicht Workshops:</b></p>
  <table class="w-full text-sm mb-6">
    <thead>
      <tr class="border-b text-left text-gray-500">
        <th class="py-2 pr-4 font-medium">Workshop</th>
        <th class="py-2 font-medium">Anmeldungen</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in ws_labels.items %}
      <tr class="border-b last:border-0">
        <td class="py-2 pr-4">{{ key }}</td>
        <td class="py-2">{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p class="my-4"><b>Übersicht Rahmenprogramm:</b></p>
  <table class="w-full text-sm mb-6">
    <thead>
      <tr class="border-b text-left text-gray-500">
        <th class="py-2 pr-4 font-medium">Programm</th>
        <th class="py-2 font-medium">Anmeldungen</th>
      </tr>
    </thead>
    <tbody>
      {% for key, value in tour_labels.items %}
      <tr class="border-b last:border-0">
        <td class="py-2 pr-4">{{ key }}</td>
        <td class="py-2">{{ value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% autoescape off %}
  {{ ws_plot_div }}

  {{ tour_plot_div }}

  {% endautoescape %}


</div>

<div class="max-w-2xl mx-auto py-8">
  <a class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{% url 'export-members-ft-xls' %}">Excel-Export: alle Teilnehmer*innen der Fachtagung</a>

</div>
{% endwith %}

{% endblock %}
