{% extends 'base/base.html' %}

{% block content %}

<div class="max-w-3xl mx-auto pt-8">

    <h1 class="text-xl text-vfllred font-bold">{{ object.firstname }} {{ object.lastname }}</h1>
    <p class="mb-4">E-Mail: {{ object.email }}</p>
    <div class="mb-8">
        <table class="table-auto">
            <tbody>
                <tr class="border-b border-neutral-200 dark:border-white/10">
                    <td class="whitespace-nowrap px-6 py-4">Teilnahme MV</td><td class="whitespace-nowrap px-6 py-4"> {{ object.data.takes_part_in_mv }}</td>
                </tr>
                <tr class="border-b border-neutral-200 dark:border-white/10">
                    <td class="whitespace-nowrap px-6 py-4">Teilnahme ges.</td><td class="whitespace-nowrap px-6 py-4"> {{ object.data.takes_part_in_ft }}</td>
                </tr>
                <tr class="border-b border-neutral-200 dark:border-white/10">    
                    <td class="whitespace-nowrap px-6 py-4">Stimmübertragung an</td><td class="whitespace-nowrap px-6 py-4">{{ object.vote_transfer }}</td>
                </tr>
                <tr class="border-b border-neutral-200 dark:border-white/10">
                    <td class="whitespace-nowrap px-6 py-4">Stimmübertragung Check</td><td class="whitespace-nowrap px-6 py-4">{{ object.vote_transfer_check }}</td>
                </tr>
                <tr class="border-b border-neutral-200 dark:border-white/10">
                    <td class="whitespace-nowrap px-6 py-4"><i>Angelegt</i></td><td class="whitespace-nowrap px-6 py-4">{{ object.date_created|date }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mt-4"><a class="bg-transparent hover:bg-blue-500 text-blue-700  hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" href="{% url 'mv-members' 'jubi-tagung_mv_2025' %}">Zurück</a></div>

</div>

{% endblock %}