{% extends 'base/base.html' %}
{% block title %}FAQ | Kategorie wählen{% endblock %}
{% block heading %}Wähle eine FAQ-Kategorie{% endblock %}


{% block content %}

<section class="py-20 px-20 bg-white">

    <div class="container max-w-6xl mx-auto">
        <!-- Container for demo purpose -->

        <div class="grid gap-8 md:grid-cols-2">
            <div class="mb-6 md:mb-0">
                <h2 class="mb-6 text-3xl font-bold">FAQs </a></h2>

                {% include 'faqs/includes/_further_questions.html' %}


            </div>

            <div class="mb-6 md:mb-0">
                {% for category in categories %}

                <p class="mb-2 font-bold"><a href="{% url 'faqs:category-detail' category.slug %}">{{category.name}}</a></p>
                {% if category.description %}
                <p class="pb-4 text-neutral-500 dark:text-neutral-300">
                    {{category.description}}
                </p>
                {% endif %}

                {% endfor %}
            </div>

        </div>

    </div>
</section>

{% endblock %}