{% extends "admin/change_form.html" %}
{% block extrahead %}
{{ block.super }}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}
{% block object-tools-items %}
{{ block.super }}

<li>
    <a href="{% url 'admin:event_hitcount' object_id %}"
        ><i class="icon-tint icon-alpha75"></i>Seitenstatistik</a
    >
</li>
<li>
    <a
        style="background: green"
        href="{% url 'export-participants' object_id 'controlling' %}"
        ><i class="icon-tint icon-alpha75"></i>Controlling</a
    >
</li>
<li>
    <a
        style="background: red"
        href="{% url 'export-participants' object_id 'participants' %}"
        ><i class="icon-tint icon-alpha75"></i>TN-Liste</a
    >
</li>
<li>
    <a
        style="background: blue"
        href="{% url 'feedback:survey-results' object_id %}"
        ><i class="icon-tint icon-alpha75"></i>Feedback</a
    >
</li>
<li>
    <a
        style="background: yellow; color: black;"
        href="{% url 'create-confirmations' object_id %}"
        ><i class="icon-tint icon-alpha75"></i>TN-Best.</a
    >
</li>
<li>
    <a
        style="background: rgb(0, 255, 47)"
        href="{% url 'export-moodle-participants' object_id %}"
        ><i class="icon-tint icon-alpha75"></i>Moodle-Liste</a
    >
</li>

{% endblock %}
