{% extends 'admin/change_list.html' %}

{% block content_title %}
    <h1> Übersicht Anmeldungen </h1>
{% endblock %}


{% block result_list %}

<div class="results">
    <table>

    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Nachname</a>
          </div>
        </th>
        <th>
            <div class="text">
              <a href="#">Vorname</a>
            </div>
          </th>
          <th>
            <div class="text">
              <a href="#">E-Mail</a>
            </div>
          </th>
       
      </tr>
    </thead>

    <tbody>
      {% for row in cl.result_list %}
      <tr>
        <td> {{ row.lastname }} </td>
        <td> {{ row.firstname }} </td>
        <td> {{ row.email }} </td>
        
      </tr>
      {% endfor %}
    </tbody>

  </table>
</div> 
    <!-- Our content goes here... -->
{% endblock %}


{% block pagination %}{% endblock %}