<div class="flex mt-10 mb-5">
    <h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Veranstaltung</h3>
    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center"><span class="hidden md:inline">Preis für Mitglieder</span><span class="md:hidden">Preis für MG</span><sup>*</sup></h3>
    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center"><span class="hidden md:inline">Preis für Nichtmitglieder</span><span class="md:hidden">Preis für NMG</span></h3>
    <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center"></h3>
</div>



{% for item in cart %}
{% with event=item.event %}

<div class="flex items-center hover:bg-gray-100 mb-2 py-2">
    <span class="w-2/5 font-normal text-sm">{{ event.name }} | {% with event.event_days.all|first as first %}{{ first.start_date|date:"d.m.Y"}}{% endwith %}{% if event.event_days.all|length > 1 %}&ndash;{{ event.get_last_day.start_date|date:"d.m.Y" }}{% endif %}</span>
    <span class="text-center w-1/5 font-normal text-sm">€ {{ item.total_price }}</span> {% if item.action_price %}<span class="text-vfllred font-bold">!</span>{% endif %}
    <span class="text-center w-1/5 font-normal text-sm">€ {{ item.total_premium_price }}</span> {% if item.action_price %}<span class="text-vfllred font-bold">!</span>{% endif %}
    <span class="text-center w-1/5 font-normal text-sm">
        <form action="{% url 'shop:cart-remove' event.id %}" method="post">
            {% csrf_token %}
            <button type="submit">&times;</button>
        </form>
    </span>

</div>
{% endwith %}
{% endfor %}

{% if show_total_price %}
<div class="flex items-center bg-red-200 border-t mb-5 py-5">
    <span class="text-right w-2/5 font-semibold text-sm">Gesamtpreis</span>
    <span class="text-center w-1/5 font-semibold text-sm">€ {{ discounted_total_price }}</span>
    <span class="text-center w-1/5 font-semibold text-sm">€ {{ total_price }}</span>
    <span class="text-center w-1/5 font-semibold text-sm"></span>
</div>

{% endif %}