<p class="text-neutral-500 dark:text-neutral-300">
    <b>Sie haben eine Frage, die in den FAQ nicht beantwortet wird?</b><br>
    Bitte kontaktieren Sie das Team der VFLL-Akademie (E-Mail an <a href="mailto:fortbildung@vfll.de" class="text-vfllred transition duration-300 hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">fortbildung@vfll.de</a>). Nähere Informationen zum Verband der Freien Lektorinnen und Lektoren e.&nbsp;V. sowie zur VFLL-Akademie finden Sie auf der <a href="https://vfll.de/" class="text-vfllred transition duration-300 hover:text-primary-600 focus:text-primary-600 active:text-primary-700 dark:text-primary-400 dark:hover:text-primary-500 dark:focus:text-primary-500 dark:active:text-primary-600">Website des VFLL</a>.<br>
    Betrifft Ihre Frage eine der Veranstaltungen, die nicht von der VFLL-Akademie ausgerichtet werden (z. B. Messen, Tagungen oder Seminare von Kooperationspartnern), wenden Sie sich bitte an den jeweiligen Veranstalter.<br><br>
    Vielen Dank!



</p>