{% extends "base/auth_base.html" %}
{% load honeypot i18n %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>FOBI </b>Passwort Reset</a>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
        <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">

            {% if validlink %}
            <p class="login-box-msg">Bitte neues Passwort eingeben und bestätigen.</p>
            <form action="" method="post" class="ml-2 mr-2">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Neues Passwort:</label>
                        </td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Passwort bestätigen:</label>
                        </td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <ul>
                                <li>{% translate "Your password can’t be too similar to your other personal information." %}</li>
                                <li>{% translate "Your password must contain at least 8 characters." %}</li>
                                <li>{% translate "Your password can’t be a commonly used password." %}</li>
                                <li>{% translate "Your password can’t be entirely numeric." %}</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Passwort ändern" /></td>
                    </tr>
                </table>
                {% render_honeypot_field "secret_key_for_vfll" %}
            </form>
            {% else %}
            <h1>Zurücksetzen des Passworts gescheitert</h1>
            <p class="login-box-msg">Der Link zum Zurücksetzen des Passworts war ungültig, eventuell weil er schon benutzt wurde. Bitte einen neuen Passwort-Reset anfordern.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
