{% extends "base/auth_base.html" %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>FOBI </b>Passwort Reset</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Bitte gib deine E-Mail-Adresse an. Wir schicken einen Link zum Zurücksetzen des Passworts an diese Adresse.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-default btn-lg" value="Passwort zurücksetzen">
            </form>
        </div>
    </div>
</div>

{% endblock %}