{% extends "base/auth_base.html" %}

{% block content %}
<div class="login-box">
    <div class="login-logo">
        <a href="#"><b>FOBI </b>Passwort Reset</a>
    </div>
    <div class="card">
        <div class="card-body login-card-body">

            {% if validlink %}
            <p class="login-box-msg">Bitte neues Passwort eingeben und bestätigen.</p>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Neues Passwort:</label>
                        </td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Passwort bestätigen:</label>
                        </td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Passwort ändern" /></td>
                    </tr>
                </table>
            </form>
            {% else %}
            <h1>Zurücksetzen des Passworts gescheitert</h1>
            <p class="login-box-msg">Der Link zum Zurücksetzen des Passworts war ungültig, eventuell weil er schon benutzt wurde. Bitte einen neuen Passwort-Reset anfordern.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}