[class*=sidebar-dark-] {
    background-color:#fe0000
   }


   .h1,
   .h2,
   .h3,
   .h4,
   .h5,
   .h6,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
    color:#fe0000
   }

   .monatsangabe {
    color:#fe0000
   }

   .btn-info {
       background-color: #fe0000;background-color: #fe0000;
       border-color: #fe0000;
   }