{% extends 'base/base.html' %}

{% block title %}Bezahlung per Rechnung{% endblock %}


{% block content %}
<div class="px-6 py-32 lg:px-8">
    <div class="bg-gray-100 shadow-lg mx-auto max-w-3xl text-base leading-7 py-12">
        <div class="flex flex-col justify-center items-center py-8">
            <div class="font-bold text-vfllred">Vielen Dank für Ihre Bestellung.</div>
            <div>{{ message }}
            </div>
            <div><a class="text-sm text-vfllred" href="{% url 'event-filter' %}">Zurück zu den Veranstaltungen</a></div>
        </div>
    </div>
</div>

{% endblock %}