{% extends 'base/base.html' %}

{% load crispy_forms_tags %}

{% block content %}




<div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:py-32 lg:px-8 lg:flex lg:items-center">



<form method='POST'>
    <div class="space-y-12">
      <div class="border-b border-gray-900/10 pb-12">
        <h2 class="text-base/7 font-semibold text-gray-900">NL anlegen/editieren</h2>
  
        
      </div>
  
     
  
      <div class="border-b border-gray-900/10 pb-12">
        {% csrf_token %}
        {{ form|crispy }}
       
      </div>
    </div>
  
    <div class="mt-6 flex items-center justify-end gap-x-6">
    <a href="{% url 'vfllnl:newsletter-list' %}" class="text-sm/6 font-semibold text-gray-900">Abbrechen</a>

      <button type="submit" class="rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Sichern</button>
    </div>
  </form>

</div>
{% endblock %}