<tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ member.firstname }}</td>
    <td>{{ member.lastname }}</td>
    <td>{{ member.email }}</td>
    <td>{{ member.attend_status }}</td>
    <td>{{ member.date_created }}</td>
    <td>
        <button class='btn' hx-get="{% url 'edit-member' member.pk %}" hx-target="closest tr" hx-swap="outerHTML">
            <svg class="bi bi-pencil" width="12" height="12">
                <use xlink:href="#pencil">
            </svg></button>
    </td>
    <td>
        <a href="{% url 'member-data-update' member.pk %}" class="btn btn-sm btn-secondary">
            <svg class="bi bi-pencil-square" width="12" height="12">
                <use xlink:href="#pencil-square">
            </svg>
        </a>
    </td>
    <td>
        <a href="{% url 'member-delete' member.pk %}" class="btn btn-sm btn-danger">
            <svg class="bi bi-trash" width="12" height="12">
                <use xlink:href="#trash">
            </svg>
        </a>
    </td>
</tr>