{% load i18n %}

<div class="flex items-center justify-between mt-6">
    <div>
        {% if wizard.steps.prev %}
        <button
            name="wizard_goto_step"
            type="submit"
            value="{{ wizard.steps.prev }}"
            class="bg-gray-200 text-gray-800 py-2 px-4 rounded hover:bg-gray-300"
        >
            {% trans "Back" %}
        </button>
        {% endif %}
    </div>
    <div class="flex items-center gap-3">
        {% if cancel_url %}
        <a href="{{ cancel_url }}" class="text-gray-500 hover:underline text-sm"
            >{% trans "Cancel" %}</a
        >
        {% endif %}
        <button
            type="submit"
            class="bg-vfllred text-white py-2 px-4 rounded hover:bg-red-700"
        >
            {% trans "Next" %}
        </button>
    </div>
</div>
