{% extends 'base/base.html' %}
{% load static shop_tags %}

{% block title %}
Warenkorb
{% endblock %}

{% block content %}


<section class="py-20 bg-gray-100">
    <div class="container max-w-6xl mx-auto">
        <div class="flex shadow-md my-10 bg-gray-200">
            <div class="w-3/4 bg-white px-10 py-10">
                <div class="flex justify-between border-b pb-4">
                    <h1 class="text-2xl font-semibold">Warenkorb</h1>
                </div>

                {% if payment_cart %}
                <!-- Cart Items Table-->

                {% include 'shop/includes/_cart_items.html' with cart=payment_cart show_total_price=True %}
                <!-- End Cart Items Table -->

                {% else %}
                <p class="mt-2">Noch keine Veranstaltungen hinzugefügt</p>


                {% endif %}
                {% if non_payment_cart %}
                <div class="mt-4 border-b border-vfllred">

                </div>
                <div class="flex justify-between border-b pt-4 pb-4">
                    <h1 class="text-2xl font-semibold">Warteliste</h1>
                </div>
                <p class="mt-2">Die folgenden Veranstaltungen werden erst in Rechnung gestellt, wenn die Teilnahme bestätigt ist.</p>

                <!-- Cart Items Table-->
                {% include 'shop/includes/_cart_items.html' with cart=non_payment_cart %}
                <!-- End Cart Items Table-->

                {% endif %}
                <a href="{% url 'event-list' %}" class="flex font-semibold text-indigo-600 text-sm mt-10">&larr;&nbsp;Zu den Veranstaltungen</a>


            </div>
            <div id="summary" class="bg-gray-300 w-1/4 px-8 py-10">
                <h1 class="font-semibold text-2xl border-b pb-4">Anmerkungen</h1>
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-normal text-sm"><sup>*</sup>&nbsp;Falls VFLL-Mitglied, bitte im nächsten Schritt (Anmeldeformular) entsprechendes Feld anklicken.</span>

                </div>
                {% if payment_cart|has_show_true %}
                <div class="flex justify-between mt-10 mb-5">
                    <span class="font-semibold text-vfllred text-sm">!&nbsp;Aktionspreis</span>
                </div>
                {% endif %}




                <div class="mt-4">
                    <p class="text-left">Jetzt <span class="text-vfllred font-bold">VFLL-Mitglied</span> werden!</p>
                </div>


                <div class="mt-8">

                    <a href="{% url 'shop:order-create' %}" class="bg-white text-vfllred font-semibold hover:bg-vfllred py-3 px-6 text-sm hover:text-white uppercase w-full">{% if payment_cart %}Zur Kasse{% else %}Zur Anmeldung{% endif %}</a>
                </div>
            </div>
        </div>

    </div>


</section>

{% endblock %}